@import '../../../../styles/helpers';

$column-border-size: 1px;
$column-border: $column-border-size solid material-color('grey', '300');
$button-width-height: 48px;
$minimal-column-width: 240px;

:export { minimalColumnWidth: $minimal-column-width; }

.column {
  @include flex-1;
  flex-direction: column;
  border-right: $column-border;
  min-width: $minimal-column-width;

  &:last-child {
    border-right: none;
  }
}

.header {
  display: flex;
  align-items: center;
  font-size: $font-size-header-3;
  border-bottom: $column-border;
  min-height: $button-width-height + $column-border-size;
  font-weight: normal;
  background-color: material-color('grey', '200');
  color: material-color('grey', '600');
}

.headerText {
  @include flex-1;
  justify-content: center;
  text-align: center;
  padding-left: $button-width-height;
}

.content {
  flex: 1;
  display: block;
  overflow-y: auto;
  padding: 0 10px;
  background: $weekplanner-xlight-gray;
}

.addIcon {
  fill: $weekplanner-primary-blue !important;
}
