$weekplanner-xlight-gray: rgb(253, 253, 252);
$weekplanner-primary-blue: material-color('light-blue', '700');
$weekplanner-text: material-color('grey', '900');

$font-size-header-3: 18px;
$font-size-header-4: 17px;
$font-size-paragraph: 14px;
$line-height-paragraph: 18px;

$card-spacing: 15px;
$card-spacing-between-elements: 10px;
