@import '../../styles/helpers';

$card-spacing: 15px;
$card-spacing-between-elements: 10px;

.card {
  display: block;
  margin: $card-spacing 0;
  padding: $card-spacing $card-spacing ($card-spacing - $card-spacing-between-elements) $card-spacing;

  &:hover .doneIcon, &:focus .doneIcon {
    opacity: 1;
  }
}

.title, .description, .time, .checklist {
  margin: 0 0 $card-spacing-between-elements 0;
}

.title {
  font-size: $font-size-header-4;
}

.time {
  display: flex;
  font-size: $font-size-paragraph;
}

.doneButton {
  float: right;
  margin: -15px -12px 0 0 !important;
}

.doneIcon {
  fill: material-color('green', '600') !important;
  opacity: 0;
}

.description {
  font-size: $font-size-paragraph;
  line-height: $line-height-paragraph;
}

.timeIcon {
  margin-right: 5px;
  width: 16px !important;
  height: 16px !important;
}

// TODO: find a better way of styling the component
.checkbox {
  margin-bottom: 3px;

  // checked checkbox
  svg:nth-child(2) {
    fill: $weekplanner-primary-blue !important;
  }

  // tickbox
  > div > div {
    margin-right: 7px !important;
  }

  label {
    font-size: $font-size-paragraph !important;
  }
}
