@import '../../styles/helpers';

.card {
  display: block;
  margin: $card-spacing 0;
  padding: $card-spacing $card-spacing ($card-spacing - $card-spacing-between-elements) $card-spacing;

  &:hover .doneButton, &:focus .doneButton {
    opacity: 1;
  }

  &.plain {
    cursor: default;
  }

  &.edited {
    opacity: 0.1;
  }
}

.title, .description, .time, .checklist {
  margin: 0 0 $card-spacing-between-elements 0;
}

.title {
  font-size: $font-size-header-4;
}

.time {
  display: flex;
  font-size: $font-size-paragraph;
}

.doneButton {
  float: right;
  opacity: 0;
  margin: -15px -12px 0 0 !important;
}

.doneIcon {
  fill: material-color('green', '600') !important;
}

.description {
  font-size: $font-size-paragraph;
  line-height: $line-height-paragraph;
}

.timeIcon {
  margin-right: 5px;
  width: 16px !important;
  height: 16px !important;
}

.checkbox {
  margin-bottom: 4px;
}
