@import '../../styles/helpers';

$card-spacing: 15px;
$card-spacing-between-elements: 10px;

.card {
  display: block;
  margin: $card-spacing 0;
  padding: $card-spacing $card-spacing ($card-spacing - $card-spacing-between-elements) $card-spacing;
}

.title, .description, .time, .checklist {
  margin: 0 0 $card-spacing-between-elements 0;
}

.title {
  font-size: $font-size-header-4;
}

.time {
  display: flex;
  font-size: $font-size-paragraph;
}

.description {
  font-size: $font-size-paragraph;
  line-height: $line-height-paragraph;
}

.timeIcon {
  margin-right: 5px;
  width: 16px !important;
  height: 16px !important;
}
